<div class="topContainer">
    <div class="row" *ngFor="let author of theAuthor">
        <div class="col s12 m8">
            <h3>{{author.name}}</h3>
            <h4>Nationality : {{author.nationality}}</h4>
            <h5>{{author.born}} - {{findYear(author.died)}}</h5>
            <p>{{author.bio}}</p>
        </div>
        <div class="col s12 m4 imgdiv2">
            <img src="{{findPath (author.imagePath)}}" alt="nema slidze">
        </div>

    </div>
</div>

<cdk-virtual-scroll-viewport itemSize="100" class="vs">
    <div class="container">
        <div *cdkVirtualFor="let book of authorsBooks" class="row contentContainer">
            <div class="col s12 m2 imgdiv">
                <img id="imageCover" src="{{findPath (book.coverImagePath)}}" alt="nema slidze">
            </div>
            <div class="col s12 m10">
                <h4><a [routerLink]="['/book', book._id]">{{book.title}}</a></h4>
                <h6>{{book.genre}}</h6>
                <br>
                <h6>{{book.avg}} <i class="fa fa-star"></i></h6>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>