*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    height: 160vh;
}

header{
    width: 100%;
    height: 10vh;
    display: block;
    background-color: black;
    position: fixed;
}

#headerContainer{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: black;
}

#logoContainer{
    height: 100%;
    display: table;
    float: left;
    padding: 10px;
}

#logoContainer h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#navigation{
    float: right;
    height: 100%;
}

#navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    color: white;
}

#navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

main{
    padding-top: 10vh;
    display: flex;
    height: 70vh;
    background-color: darkslategrey;
}

#rate{
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bookRating{
    font-size: 3.5em;
    color: white;
    margin-right: 30px;
}

#yourRating{
    font-size: 3.5em;
    color: white;
}

#allRating{
    height: 100px;
    width: 100px;
    margin-right: 900px;
    float: left;
}

#content{
    height: 55vh;
    display: flex;
}

#reviews{
    width: 70%;
    background-color: seagreen;
}

#statistics{
    width: 30%;
    background-color: darkslategrey;
}

footer{
    height: 10vh;
    background-color: black;
}

#mainImage{
    background-color: white;
    width: 30%;
    margin: 20px;
}

#mainImg{
    width: 100%;
    height: 100%;
}

#mainText{
    background-color: rgb(0, 0, 0, 0.4);
    width: 70%;
    color: white;
    margin: 20px;
}

#mainName{
    font-size: 3em;
}

#mainAuthor{
    font-size: 2em;
}

#mainCategory{
    font-size: 1.4em;
}

#mainDescription{
    font-size: 1.2em;
}

#mainText li{
    margin: 20px;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
