.filter-field {
    display: flex;
    margin: 0.5em;
    align-items: center;
    margin-top: 1.3em;
}

.small-filter-field{
    width: 20vw !important;
}

.medium-filter-field{
    width: 35vw !important;
}

.full-width-filter-field{
    width: 100% !important;
}
.bookm-sufix-icon{
    position: relative;
    top: unset;
    font-size: 1.5em;
    color: #484848;
    display: flex;
    align-items: center;
    line-height: 30px !important;
    padding: 5px;
    height: 30px !important;
    width: 30px !important;
    transition: background-color 0.5s ease-in-out;
    border-radius: 100%;
}
.bookm-sufix-icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.bookm-datepicker {
    width: 10vw !important;
}
input[class*="filter-field"] {
    border-bottom-color: #F44336 !important;
    box-shadow: unset !important;
}

div[class*="filter-field"] > label {
    color: #484848 !important;
}