.user {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    border: 1px solid black;
    box-sizing: border-box; 
    height: 100px;
}

.container {
    height: 400px;
    width: 400px;
}

img {
    height: 100px;
    /* width:20px; */
}

.moja {
    height: 800px;
}

/* ::-webkit-scrollbar {
    display: none;
} */