.bookContainer{
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.imgdiv{
    height: 100%;
}

h3{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
    font-size: 4vw;
}

.row{
    height: 100%;
}

img{
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rateContainer{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-css {
    height: 100%;
    display: table;
}

.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

.fa.fa-star{
    color: #ffab00;
}

.fa-star{
    color:#ffab00;
}

.rating-css input {
    display: none;
}

  .rating-css input + label {
    font-size: 30px;
  }

  .yourRating{
      height: 100%;
  }
  
  .allRating{
      height: 100%;
      display: table;
      text-align: center;
  }

  .globalRating{
      display: table-cell;
      vertical-align: middle;
  }
  
.bottomContainer{
    min-height: 400px;
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reviews{
    height: 100%;
}

.statistics{
    height: 100%;
}

.reviewCard{
    border-bottom: 2px solid black;
}

.moreBtnContainer{
    display: table;
    margin: 10px auto 10px auto;
}

.submitReviewButtonContainer{
    display: table;
    margin: 10px auto 10px auto;
}

#readMoreBtn{
    display: table-cell;
    vertical-align: middle;
}

#submitReviewBtn{
    display: table-cell;
    vertical-align: middle;
}

.rRow {
    margin: 0;
}

.vs {
    height: 700px;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 700px) {
    .bookContainer {
        height: auto;
        min-height: 650px;
    }

    .imgdiv{
        height: 75%;
    }

    .rateContainer {
        height: auto;
        min-height: 100px;
    }

    .bottomContainer{
        height: auto;
        min-height: 500px;
    }
  }