<div class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bookmarker</h5>
          <p class="grey-text text-lighten-4">Contact us:</p>
          <p>bookmarker@gmail.com</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Follow us on:</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Bookmarker
      </div>
    </div>
</div>