<!-- <div class="container"> -->
<div class="row">
    <div class="container">
        <div class="filterContainer">
            <div class="filter col s12 m3">
                <p class="filterContent">All books</p>
            </div>
            <form class="filter col s12 m3" [formGroup]="applySortForm">
                <div class="filterContent">
                    <select class="" formControlName="option">
                        <option value="" disabled selected>Sort by</option>
                        <option value="nameAsc">Name <i>Asc</i></option>
                        <option value="nameDesc">Name <i>Desc</i></option>
                        <option value="authorAsc">Author <i>Asc</i></option>
                        <option value="authorDesc">Author <i>Desc</i></option>
                        <option value="ratingAsc">Rating <i>Asc</i></option>
                        <option value="ratingDesc">Rating <i>Desc</i></option>
                    </select>
                </div>
            </form>
            <form class="filter col s12 m3" [formGroup]="applyFilterForm">
                <div class="filterContent">
                    <select multiple formControlName="option">
                        <option value="" disabled selected>Filter</option>
                        <optgroup label="Rating">
                            <option value=">4.5">>4.5</option>
                            <option value=">3.5">>3.5</option>
                            <option value=">2.5">>2.5</option>
                            <option value=">1.5">>1.5</option>
                        </optgroup>
                        <optgroup label="Your ratings" *ngIf="this.loggedInUser">
                            <option value="notRated">Exclude books you rated</option>
                            <option value="rated">Only books you rated</option>
                        </optgroup>
                        <optgroup label="Genre">
                            <option value="Fantasy">Fantasy</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Romance">Romance</option>
                            <option value="Contemporary">Contemporary</option>
                            <option value="Dystopian">Dystopian</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Horror">Horror</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Paranormal">Paranormal</option>
                            <option value="Historical fiction">Historical fiction</option>
                            <option value="Science fiction">Science fiction</option>
                            <option value="Memoir">Memoir</option>
                            <option value="Cooking">Cooking</option>
                            <option value="Art">Art</option>
                            <option value="Self-help / Personal">Self-help / Personal</option>
                            <option value="Development">Development</option>
                            <option value="Motivational">Motivational</option>
                            <option value="Health">Health</option>
                            <option value="History">History</option>
                            <option value="Travel">Travel</option>
                            <option value="Guide / How-to">Guide / How-to</option>
                            <option value="Families & Relationships">Families & Relationships</option>
                            <option value="Humor">Humor</option>
                            <option value="Children’s">Children’s</option>
                            <option value="Realist Novel">Realist Novel</option>
                            <option value="Southern Gothic">Southern Gothic</option>
                            <option value="Bildungsroman">Bildungsroman</option>
                        </optgroup>
                    </select>
                </div>
            </form>
            <div class="filter applyBtnContainer col s12 m3">
                <div class="filterContent">
                    <button id="applyBtn" class="waves-effect waves-light btn-small amber accent-4"
                        (click)="applySort(applySortForm.value);applyFilter(applyFilterForm.value)">
                        apply
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<cdk-virtual-scroll-viewport itemSize="100" class="vs">
    <div class="container">
        <div *cdkVirtualFor="let book of displayBooks" class="row contentContainer">
            <div class="col s12 m3 imgdiv">
                <img id="imageCover" src="{{findPath (book.coverImagePath)}}" alt="nema slidze">
            </div>
            <div class="col s12 m9">
                <h4><a [routerLink]="['/book', book._id]">{{book.title}}</a></h4>
                <h5><a [routerLink]="['/author', book.author._id]">{{book.author.name}}</a></h5>
                <br>
                <h6>{{book.genre}}</h6>
                <br>
                <h6>{{book.avg}} <i class="fa fa-star"></i></h6>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>