.filterContainer{
    height: 50px;
}

.filter{
    height: 100%;
    display: table;
    text-align: center;
}

.filterContent{
    display: table-cell;
    vertical-align: middle;
}

.contentContainer{
    min-height: 300px;
    background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.imgdiv{
    height: 300px;
}

h3{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
    font-size: 4vw;
}

.fa.fa-star{
    color: #ffab00;
}

.fa-star{
    color:#ffab00;
}

img{
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vs {
    height: 900px;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 700px) {
    .contentContainer {
        height: auto;
        min-height: 600px;
    }

    .imgdiv{
        height: 400px;
    }
  }