<div class="container">
<div class="root">
    <div class="bookm-wrapper">
        <div>
            Search site for:
        </div>
        <div class="input-field" style="position: relative; z-index: 9;" > 
            <!-- Naredni select se samo iskoristi za inicijalizaciju materialize-css-a, zapravo bude sakriven na stranici -->
            <!-- z index mora da ide uz position relative i da bude u wrapper elementu... -->
            <select [id]="searchBySelectID" #searchBySelect (change)="onSearchByChange(searchBySelect.value)">
              <option value="{{'0'}}" disabled selected="{{isUndefinedSearch()}}">Choose your option</option>
              <option *ngFor="let option of searchByList" [value]="option">{{option}}</option>
            </select>
        </div>
        <button class="btn waves-effect waves-light btn-small" (click)="onRunSearch()" [disabled]="filterValues === undefined">
            Run search
        </button>
    </div>
    <div class="bookm-wrapper">
        <div class="bookm-filter-wrapper">
            <app-filter-fields [fields]="fields" (onFieldsChange)="onFieldsChange($event)"></app-filter-fields>
            <!-- <div style="display: flex;">
                <div *ngIf="chips.length !== 0">
                    <app-bookm-chip *ngFor="let chip of chips" (chipData)="chip"></app-bookm-chip>
                </div>
            </div> -->
        </div>
        <div *ngIf="filterResults.length!==0" class="bm-results-wrapper">
            <h3 class="bookm-title">Results</h3>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
                <app-result-card *ngFor="let filterResult of filterResults" [resultInfo]="filterResult" class="bookm-card"></app-result-card>
            </div>
        </div>
    </div>
</div>
</div>
