<div class="bm-rc-container">
    <div>
        <img src="{{resultInfo?.image}}" alt=""/>
    </div>
    <div class="bm-rc-text" style="flex:3;">
        
        <a href="{{resultInfo?.link}}" *ngIf="(resultInfo?.link !== undefined) || (resultInfo?.route !== undefined)" [routerLink]="resultInfo?.route" class="card-title-text">{{resultInfo?.title}}</a>
        
        <span *ngIf="!(resultInfo?.link !== undefined) && !(resultInfo?.route !== undefined)" class="card-title-text">
            {{resultInfo?.title}}
        </span>
        <!-- <p>{{resultInfo?.description}}</p> -->
        <div class="bm-rc-content" [innerHTML]="resultInfo?.description"></div>
    </div>
</div>
