<nav class="grey darken-3">
    <div class="nav-wrapper container" style="width: 100% !important; padding: 0 3em;">
        <a href="" class="brand-logo center">Bookmarker</a>
        <a href="" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <app-simple-search style="display: contents;"></app-simple-search>
        <a [routerLink] = "['/login']">
            <button id="logBtn" class="btn red darken-1" *ngIf="loggedInUser === null">
                Log in
            </button>
            <button id="logBtn" class="btn red darken-1" *ngIf="loggedInUser !== null" (click)="logout()">
                Logout
            </button>
        </a>


        <ul class="sidenav" id="mobile-demo">
            <li><a [routerLink] = "['/']"> <i class="fas fa-home"></i> Home page</a></li>
            <li> <a [routerLink] = "['/books']"> <i class="fas fa-list-ol"></i> List of books</a></li>
            <li><a [routerLink] = "['/stories']" *ngIf="loggedInUser"> <i class="far fa-newspaper"></i> News feed</a></li>
            <li><a [routerLink] = "['/dashboard', loggedInUser.id]" *ngIf="loggedInUser"> <i class="fas fa-house-user"></i> My profile</a></li>
            <li><a [routerLink] = "['/login']" *ngIf="!loggedInUser"> <i class="fas fa-sign-in-alt"></i> Log in</a></li>
            <li><a [routerLink] = "['/search']"> <i class="fas fa-search"></i> Search the site</a></li>
            <!-- <li><a [routerLink] = "['/dashboard']">Logout</a></li> -->
            <li *ngIf="isAdmin"><a [routerLink] = "['/adminSection']"> <i class="fas fa-cog"></i>Admin options</a></li>
        </ul>
    </div>
</nav>